data/raw/*.csv
data/raw/*.zip
data/processed/*.parquet

__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

.env
.venv/
venv/
env/

.ipynb_checkpoints/
*.ipynb

mlflow/mlruns/
mlflow/artifacts/


.DS_Store
*.log